[Desktop Entry]
Name=Eclipse
Comment=Eclipse IDE installed on /opt
TryExec=/opt/eclipse/eclipse
Exec=/opt/eclipse/eclipse
Icon=/opt/eclipse/icon.xpm
Categories=Development;IDE;Java;
Terminal=False
Type=Application
StartupNotify=true