[Desktop Entry]
Icon=guake
Name=Guake
Comment=Drop-dowm terminal
Exec=/usr/bin/guake
Terminal=false
Type=Application
Categories=Utility;
Keywords=Terminal
StartupNotify=false
